<footer style="background-color:  #1a2c51">

    <div class="container">
        <div class="footer-logo">
            <a href="#">
                <img src="/assets/logo.png" alt="logo">
            </a>
        </div>
        <nav class="footer-nav">
            <div class="footer-col">
                <h5 class="title">DoConnect</h5>
                <ul class="footer-list">
                    <li><a href="">DoConnect</a> </li>
                    <li><a href="">Help</a> </li>
                </ul>
            </div>
            <div class="footer-col">
                <h5 class="title">Product</h5>
                <ul class="footer-list">
                    <li><a href="">Team</a> </li>
                    <li><a href="">Advertising</a> </li>
                    <li><a href="">Collectives</a> </li>
                    <li><a href="">Talent</a> </li>
                </ul>
            </div>

            <div class="footer-col">
                <h5 class="title">Company</h5>
                <ul class="footer-list">
                    <li><a href="">About</a> </li>
                    <li><a href="">Press</a> </li>
                    <li><a href="">Work Here</a> </li>
                    <li><a href="">Privacy Policy</a> </li>
                    <li><a href="">Term of Services</a> </li>
                    <li><a href="">Contact Us</a> </li>
                </ul>
            </div>

            <div class="footer-col">
                <h5 class="title">Stack</h5>
                <ul class="footer-list">
                    <li><a href="">Technology</a> </li>
                    <li><a href="">Culture & recreation</a> </li>
                    <li><a href=""> Life & arts</a></li>
                    <li><a href="">Professional</a> </li>
                    <li><a href="">Science</a> </li>
                    <li><a href="">Bussiness</a> </li>
                </ul>
            </div>

        </nav>
        <div class="footer-copyright">
            <ul class="social">
                <li class="me-2"><a href="">Blog</a> </li>
                <li class="me-2"><a href=""> Facebook</a></li>
                <li class="me-2"><a href="">Twitter</a> </li>
                <li class="me-2"><a href="">LinkedIn</a> </li>
                <li class="me-2"><a href="">Instagram</a> </li>
            </ul>
            © 2022 Doconnect
        </div>
    </div>
</footer>