<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">DoConnect</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Section</a>
                </li>
            </ul>
            <!--- search content method for testing purpose-->
            <div class="input-group flex-nowrap w-50 p-1">
                <input type="search" class="form-control" placeholder="Search" #search
                    (keyup.enter)="getValue(search.value)" aria-label="Search" aria-describedby="addon-wrapping">
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink=" " routerLinkActive="active" class="btn btn-outline-primary me-2 my-2" role="button">
                        Log in
                    </a></li>
                <li><a routerLink=" " routerLinkActive="active" class="btn btn-primary me-2 my-2" role="button">
                        Sign up
                    </a></li>

            </ul>

        </div>

    </div>
</nav>